<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <div id="sidebar-menu">
            <nav class="pe-app-sidebar-menu nav nav-pills">
                <ul class="pe-horizontal-menu mb-0 list-unstyled" id="horizontal-menu">
                    <li class="pe-menu-title">Main</li>
                    <li class="pe-slide pe-has-sub">
                        <a href="#collapseDashboards" class="pe-nav-link" data-bs-toggle="collapse">
                            <i class="ri-dashboard-line pe-nav-icon"></i>
                            <span class="pe-nav-content">Dashboards</span>
                            <i class="ri-arrow-down-s-line pe-nav-arrow"></i>
                        </a>
                        <ul class="pe-slide-menu collapse" id="collapseDashboards">
                            <li class="pe-slide-item">
                                <a href="index.html" class="pe-nav-link">E-Commerce</a>
                            </li>
                            <li class="pe-slide-item">
                                <a href="dashboard-school.html" class="pe-nav-link">School</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
